<!-- <div class= "header row">   
<img src ="http://code.divshot.com/geo-bootstrap/img/test/ie_logo.gif">
<img src ="http://code.divshot.com/geo-bootstrap/img/test/ns_logo.gif">
<img src ="http://code.divshot.com/geo-bootstrap/img/test/noframes.gif">
<img src ="http://code.divshot.com/geo-bootstrap/img/test/notepad.gif">
<div id="old-stuff">
<img src ="http://code.divshot.com/geo-bootstrap/img/test/yahooweek.gif">
<img src ="http://code.divshot.com/geo-bootstrap/img/test/community.gif">
<img src ="http://code.divshot.com/geo-bootstrap/img/test/wabwalk.gif">
<img src ="http://code.divshot.com/geo-bootstrap/img/test/webtrips.gif">
</div>
</div> -->

<div class="col-1 col-md-2 col-lg-4"></div>
<div class="col-10 col-md-8 col-lg-4 px-2 py-5">

<div class="center p-5">
<img src="https://i.imgur.com/DktJUwl.gif">
<h1 class="rainbow">
Memeconomy</h1>
<h2> (securely) spread ur memes. </h2>
<p> Memeconomy is a place for you to browse the <i>spiciest</i> memes, and share your awesome creations!</p>
<br>
<blockquote class="text-muted">
"People will believe pretty much everything they see on the internet"
<small>-Abraham Lincoln</small>
</blockquote>
</div>
<div class= "footer">
    <center class="py-5">SSD module 2018 project (just for fun)</center>
</div>

</div>
<div class="col-1 col-md-2 col-lg-4"></div>