<div class="wrapper">
<div class= "header">   
    <a href="/users/sign_in"> Sign In </a>
    <a href="/users/sign_up"> Sign Up </a>
    <a href="/articles"> Browse </a>
</div>
<div class="center">
<h1 class="rainbow"> memeconomy 📈📊 </h1>
<h2> spread ur memes </h2>
<h2 style="color: red">USD 0.27 ▼0.17%</h2>
</div>
<div class= "footer">
    <center>SSD module 2018 project (just for fun)</center>
</div>
</div>