<div class= "header row">   
<img src ="http://code.divshot.com/geo-bootstrap/img/test/ie_logo.gif">
<img src ="http://code.divshot.com/geo-bootstrap/img/test/ns_logo.gif">
<img src ="http://code.divshot.com/geo-bootstrap/img/test/noframes.gif">
<img src ="http://code.divshot.com/geo-bootstrap/img/test/notepad.gif">
<div id="old-stuff">
<img src ="http://code.divshot.com/geo-bootstrap/img/test/yahooweek.gif">
<img src ="http://code.divshot.com/geo-bootstrap/img/test/community.gif">
<img src ="http://code.divshot.com/geo-bootstrap/img/test/wabwalk.gif">
<img src ="http://code.divshot.com/geo-bootstrap/img/test/webtrips.gif">
</div>
</div>
<div class="center">
<img src="https://i.imgur.com/DktJUwl.gif">
<h1 class="rainbow">Memeconomy</h1>
<h2> (securely) spread ur memes. </h2>
<img src="http://code.divshot.com/geo-bootstrap/img/test/hot.gif">
<small style="color: red">USD 0.27 ▼0.17%</small>
<blockquote>
"People will believe pretty much everything they see on the internet"
<small>-Abraham Lincoln</small>
</blockquote>
</div>
<div class= "footer">
    <center>SSD module 2018 project (just for fun)</center>
</div>
