/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

 @import "bootstrap";

@keyframes roll {
    from {
        transform: rotateZ(270deg) scaleX(10) scaleY(20);
        background-color: black;
    }
    to {
        transform: rotateZ(0deg) scaleX(1) scaleY(1);
    }
}

body {
    animation: roll 0.5s;
}

/* DEBUG */

.mark {
    background-color: red;
}

.rainbow {
    /* Chrome, Safari, Opera */
    -webkit-animation: rainbow 1s;
    /* Internet Explorer */
    -ms-animation: rainbow 1s;
    /* Standar Syntax */
    animation: rainbow 1s;
}

/* Chrome, Safari, Opera */

@-webkit-keyframes rainbow {
    20% {
        color: red;
    }
    40% {
        color: yellow;
    }
    60% {
        color: green;
    }
    80% {
        color: blue;
    }
    100% {
        color: orange;
    }
}

/* Internet Explorer */

@-ms-keyframes rainbow {
    20% {
        color: red;
    }
    40% {
        color: yellow;
    }
    60% {
        color: green;
    }
    80% {
        color: blue;
    }
    100% {
        color: orange;
    }
}

/* Standar Syntax */

@keyframes rainbow {
    5% {
        color: red;
    }
    35% {
        color: yellow;
    }
    65% {
        color: green;
    }
    85% {
        color: blue;
    }
    0% {
        color: orange;
    }
}