// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.heading {
	padding: 3vw 5vw;	
	text-align: center;
	font-size: 2rem;
	width: 100vw;
}

img {
	max-width: 100%;
}

.blue {
	color: #593196;
}

.blue:hover {
	pointer: cursor;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.container form {
	margin: auto;
}

.card.border-primary {
	position: relative;
	width: 32%;
}

.card .card-text {
	max-height: 10vw;
	overflow-y: auto;
}

.card .card-text .description {
	display: block;
	padding: 1vw 0;
}

.card .card-img {
	max-height: 17vw;
	overflow-y: hidden;
}

.card .card .category {
	position: absolute;
	bottom: 4vw;
}

.card .card-footer {
	position: absolute;
	bottom: 1vw;
	width: 20.5vw;
}

.container.show .card {
	margin: auto;
}